.body{
  width: 100%;
}
.body>h1{
  box-sizing: content-box;
  margin: 100px 42%;
  text-align: center;
}
.todolist > input{
  margin: 12px;
  width: 400px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.listTodo{
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.listTodo > ul>li{
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.footer{
  margin: 130px;
  display: flex;
  justify-content: center;
  text-align: center;
}

button{
  cursor: pointer;
  border-radius: 20px;
  margin: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}